.title { font-weight: bold; }

.respond {
  height: 40px;
  background: #eeeeee;
}

.inventory {
  border: 2px solid brown;
  width: 32%;
  float: left;
}

.body {
  border: 2px solid red;
  width: 32%;
  float: left;
}

.placeProps {
  border: 2px solid green;
  width: 32%;
  float: left;
}

.action, .exit { cursor: pointer; }
