.title {
  font-weight: bold;
}
.respond {
  background: #eeeeee;
}
.inventory {
  border: 2px solid brown;
  width: 48%;
  float: left;
}
.body {
  background-color: #ffe6cc;
  border: 2px solid red;
  width: 48%;
  float: left;
}
.body .container-title {
  background-color: #ff9933;
}
.placeProps {
  background-color: #c2f0c2;
  border: 2px solid green;
}
#place {
  background-color: #c2f0c2;
}
#place .placeTitle {
  background-color: #5cd65c;
}
.placeProps .container-title {
  background-color: #5cd65c;
}
.action,
.exit {
  cursor: pointer;
}
